<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387979069312-a7t77v5uvfheg07nodsm98c8aupnburb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387979069312-a7t77v5uvfheg07nodsm98c8aupnburb</string>
	<key>API_KEY</key>
	<string>AIzaSyDXjAyT0cDIv04DYYjUGWaiymM0xQCt8zM</string>
	<key>GCM_SENDER_ID</key>
	<string>387979069312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kankei</string>
	<key>PROJECT_ID</key>
	<string>kankeiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kankeiapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387979069312:ios:8f28c3a03c53f6675ae365</string>
</dict>
</plist>